
.todo {
  margin: 8pt 16pt;
  padding: 12pt 24pt;
  border: 1pt solid black;
  border-radius: 4pt;
}

.todo--completed {
    background-color: aquamarine;
}


.todo--pending {
    background-color: darkred;
    color: white;
}
